<h1>Listing ideas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td style="border-right: 1px solid lightgray;"><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= image_tag(idea.picture_url, width: 100) if idea.picture.present? %></td>
        <td style="padding-left: 30px;"><%= link_to 'Show', idea, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path, class: 'btn btn-default' %>
