<style>
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
    
    padding-top: 10px;
    padding-bottom: 20px;
    
    margin-left: 50px;
    margin-right: 50px;
    
    padding-left: 50px;
    padding-right: 50px;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    
    padding-top: 20px;
    padding-bottom: 30px;
    
    margin-left: 50px;
    margin-right: 50px;
    
    padding-left: 50px;
    padding-right: 50px;
  }
  .bg-3 { 
    background-color: #c4f6ff; /* Light Blue */
    color: #555555;
    
    padding-top: 20px;
    padding-bottom: 30px;
    
    margin-left: 50px;
    margin-right: 50px;
    
    padding-left: 50px;
    padding-right: 50px;
  }
</style>

<div class="container-fluid bg-1 text-center">
  <h3>Who Am I?</h3>
  <%= image_tag('/images/bird.jpg', class: 'img-circle', alt: 'Bird', width: '350', height: '350') %>
  <h3>I'm an adventurer</h3>
</div>
<div class="container-fluid bg-2 text-center">
  <h3>What Am I?</h3>
  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="container-fluid bg-3 text-center">
  <h3>Where To Find Me?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
</div>